body { 
	display: grid;
	grid-template-areas: 
	  "header header header"
	  "nav nav nav"
	  "article article article"
	  "footer footer footer";
	grid-template-rows: 80px 0fr 2500px;  
	grid-template-columns: 20% 1fr 15%;
	grid-row-gap: 0px;
	grid-column-gap: 10px;
	height: 100vh;
	margin: 0;
	}  
  header{
	padding: 0;
	margin: 0%;
	background: #fff;
	}
  footer{
	padding: 0;
	background: rgb(0, 0, 0);
	}
  article{
	padding: 0;
	background: #fff;
	}
  section{
	padding-left: 20%;
  }
  nav{
	padding: 0;
	background: #fff;
	}
  #pageHeader {
	grid-area: header;
	}
  #pageFooter {
	grid-area: footer;
	}
  #mainArticle { 
	grid-area: article;  
	}
  #mainNav { 
	grid-area: nav; 
	}
  /* Stack the layout on small devices/viewports. */
  @media all and (max-width: 575px) {
	body { 
	  grid-template-areas: 
		"header"
		"article"
		"nav"
		"footer";
	  grid-template-rows: 80px 1fr 70px 1fr 70px;  
	  grid-template-columns: 1fr;
   }}
#logo{
  display: block;
  margin: 0%;
  background-color: black;
}
header a{
	text-decoration: none;
	color: azure;
}
article a{
	text-decoration: none;
	color: black;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
    background-color: black;
	padding: 8px 12px;
}
.header_menu ,.header_icon{
	display: flex;
	padding-left: 0;
	list-style: none;
}
.header_menu li{
	padding: 8px 12px;
}
.header_icon li{
	padding: 8px 12px;
}
.slidebox ul, li {
  list-style:none;
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.slidebox {max-width: 100%; margin:0 0 0 0;}
.slidebox .slidelist {white-space:nowrap;font-size:0;overflow:hidden;}
.slidebox .slidelist .slideitem {position:relative;display:inline-block;vertical-align:middle;width:100%;transition:all 1.5s;}
.slidebox .slidelist .slideitem > a {display:block;width:auto;position:relative;}
.slidebox .slidelist .slideitem > a img {max-width:100%; object-fit: fill;}
.slidebox .slidelist .slideitem > a label {position:absolute;top:50%;transform:translateY(-50%);padding:20px;border-radius:50%;cursor:pointer;}
.slidebox .slidelist .slideitem > a label.prev {left:20px;background:rgba(255, 255, 255, 0) url('/img/left-arrow.png') center center / 50% no-repeat;}
.slidebox .slidelist .slideitem > a label.next {right:20px;background:rgba(255, 255, 255, 0) url('/img/right-arrow.png') center center / 50% no-repeat;}


[name="slide"] {display:none;}
#slide01:checked ~ .slidelist .slideitem {transform:translateX(0);animation:slide01 15s infinite;}
#slide02:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation:slide02 15s infinite;}
#slide03:checked ~ .slidelist .slideitem {transform:translateX(-200%);animation:slide03 15s infinite;}


@keyframes slide01 {
	0% {left:0%;}
	33% {left:0%;}
	34% {left:-100%}
	66% {left:-100%;}
	67% {left:-200%;}
	99% {left:-200%;}
	100% {left:0%;}
}

@keyframes slide02 {
	0% {left:0%;}
	33% {left:0%;}
	34% {left:-100%;}
	66% {left:-100%;}
	67% {left:100%;}
	99% {left:100%;}
	100% {left:0%;}
}

@keyframes slide03 {
	0% {left:0%;}
	33% {left:0%;}
	34% {left:200%;}
	66% {left:200%;}
	67% {left:100%;}
	99% {left:100%;}
	100% {left:0%;}
}
#section-h2 h2{
	text-align: center;
	margin: 0;
	font-family: 'Sedgwick Ave', cursive;
	color: rgb(153, 153, 153);
	padding-top: 20px;
	padding-bottom: 35px;
}
.NEW-contents1{
	padding-top: 7%;
	padding-left: 26%;
}
.select{
	padding-right: 15px;
	display: inline-block;
	transition: 0.5s;
}
.select:hover{
	transform: scale(1.05);
}
.select-wrap{
	margin: 0;
	position: relative;
	display: inline-block;
	border-radius: 8px;
	overflow: hidden;
	width: 280px;
	height: 360px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.06);
	z-index: 2;
	background-color: #fff;
}
.text-wrap{
	text-align: center;
	position: absolute;
	padding: 0;
	z-index: 1;
}
.text-wrap p{
	text-align: center;
	align-items: center;
	font-size: 9pt;
	color: rgb(153, 153, 153);
}
.text-wrap h3{
	width: 280px;
	text-align: center;
	align-items: center;
	margin: 3px 3px;
}
.new-next{
	display: inline-block;
}
.best-next{
	display: inline;
}
button{
	text-align: left;
	width: 350px;
	height: 80px;
}
.recommend{
	padding:0%;
}
.recommend img{
	display:inline;
}
.recommend h2{
	text-align: center;
	margin: 0;
	font-family: 'Sedgwick Ave', cursive;
	color: rgb(153, 153, 153);
	padding-top: 50px;
	padding-bottom: 35px;
	
}
.info p{
	text-align: center;
	margin: 0;
	font-family: 'Sedgwick Ave', cursive;
	color: rgb(153, 153, 153);
	padding-top: 250px;
	padding-bottom: 35px;
	font-size: 32pt;
}
.img{
	padding-left: 38%;
	padding-top: 100px;
}
.img1{
	display: inline-table;
}
.img2{
	display:inline-table;
}
.box{
	margin: 0;
	padding: 0;
	width:auto;
	background: linear-gradient(180deg, rgb(233, 233, 233), #fff);
}
#pagefooter{
	margin: 0 auto;
	width: 1180px;
	display: block;
	padding-top: 45px !important;
}
.footer-logo{
	padding-top: 25px;
}
.footer-logo img{
	width: 100px;
}
.left-wrap{
	display: inline-block;
	padding-left: 16%;
}
.footer-text{
	color: #fff;
	padding-top: 25px;
}
.footer-text a{
	text-decoration:underline;
	color: #fff;
}
.text1{
	padding-bottom: 35px;
}
.text2{
	padding-bottom: 50px;
}
.text p{
	margin-block-start: 0%;
	margin:0;
	padding:0;
	word-break:break-all;
}
.center-wrap{
	display:inline-block;
	float: right;
	width: 69%;
}

.footer-list li{
	display: inline-block;
	letter-spacing: -0.5px;
	list-style: none;
}
.footer-list a{
	text-decoration: none;
	color: #fff;
	margin: 32px;
}
.footer-list li.policy a{
	color: gold;
}
.subscript ,.adress ,.copyright{
	color: #fff;
	padding-left: 72px;
	padding-top: 20px;
}
.adress ,.copyright{
	font-size: 9pt;
	color: rgb(153 153 153);
}
.newsletter{
	padding-left: 30px;
}
.sns-wrap{
	padding-left: 72px;
	padding-top: 30px;
}